#Python

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

#Virtual Environment
.venv/
venv/
env/
ENV/

#os 
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

#log files
*.log
*.pid
*.out

#data files
data/*.sqlite
data/*.csv
data/*.json

#result files
results/
analysis/
experiments/

#model artifacts
*.bin
*.pt
*.ckpt
*.safetensors

#tokenizers
tokenizer.json
tokenizer_config.json
vocab.txt
special_tokens_map.json



#csv files
*.csv

#root files
/*.json
/*.jsonl
/*.png
/*.txt
/*.py
/*.zip
/*.pkl
/*.dump

# irrelevant folders and files
/gpt_summary/*
/pipelines/analyze*.py
/pipelines/evaluate*.py
/pipelines/find*.py
/pipelines/fine*.py
/pipelines/fix*.py
/pipelines/full*.py
/pipelines/gpt*.py
/pipelines/manual*.py
/pipelines/update*.py
/core/agency/*
/core/category/*
/core/cluster/*
/core/filtering/*
/core/organization/*
/core/summarize_portfolio/*
/core/update_db/*
/core/synthesis_prompts/*
/dep_parse/*
/distill/*
/final*/*
/gpt*/*
/hard*/*
/hierarchical/*


# exclude requirements.txt
!requirements.txt

!/data/activity_code_list.csv
!/data/agencies_list.csv
!/data/rcdc_synonyms.json
!/models/rerankers/v4/*
!/models/rerankers/v5/*
!/evaluation/search/*.csv
!/evaluation/search/ground_truth/*.csv
!/evaluation/categorization/challenge_sets/*.csv

