<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>The NIH Audit</title>
    <link rel="stylesheet" href="/static/css/styles_v12.css">
    <script src="https://unpkg.com/lucide@latest"></script>

</head>

<body class="landing">

    <div class="center-container">
        <div class="logo">The NIH Audit</div>

        <div class="home-options">

            <div class="search-divider-top top-divider">

                <div class="divider-text">

                    <span class="divider-search">
                        EXPLORE NIH PORTFOLIO
                    </span>

                </div>

            </div>

            <a href="/portfolio" class="home-card">

                <div class="home-card-icon">
                    <i data-lucide="bar-chart-3"></i>
                </div>

                <div class="home-card-content">


                    See breakdown of NIH funding by various categories, and explore trends over time.


                </div>

            </a>

        </div>
        <div class="search-divider">
            <div class="divider-line"></div>

            <div class="divider-text">
                <span class="divider-or">OR</span>
                <span class="divider-search">SEARCH BELOW</span>
            </div>

            <div class="divider-line"></div>
        </div>
        {% include 'partials/search_bar.html' %}

    </div>

    <script>lucide.createIcons(); </script>
    <script src="/static/js/script.js"></script>

</body>

</html>