<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>The NIH Audit</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://unpkg.com/lucide@latest"></script>

</head>

<body class="landing">

    <div class="center-container">
        <div class="logo">The NIH Audit</div>

        {% include 'partials/search_bar.html' %}

    </div>

    <script>lucide.createIcons(); </script>
    <script src="/static/js/script.js"></script>

</body>

</html>